
html, body {
    margin: 0 auto;
    background-color: #555B70;
    font-family: 'Courier New', Courier, monospace;
}

#todolist {
    cursor: default;
    height: 40px;
    width: 500px;
    padding: 10px;
    margin-bottom: 50px;
    background-color: gray;
    border: 5px solid #2A2C33;
    border-radius: 10px;
    text-align: center;

    box-shadow: -6px 6px  rgba(0, 0, 0, 0.30);

    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}


   

#inputBox {

    text-align: center;
    background-color: #374770;
    width: 370px;
    height: 40px;
    border: 5px solid #2A2C33;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    
    box-shadow: -6px 6px  rgba(0, 0, 0, 0.30);
    margin-right: 10px;
   
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#addBtn {
  
    cursor: pointer;
    background-color: #374770;
    height: 55px;
    width: 380px;
    border: 5px solid #2A2C33;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

    box-shadow: -6px 6px  rgba(0, 0, 0, 0.30);

    margin: 0;
    margin-bottom: 20px;
    position: absolute;
    top: 28%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}


.paragraph-styling {

    width: 30%;
    border-radius: 10px;
    border: 5px solid #2A2C33;
    padding: 10px;
    background: gray;
    text-align: left;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
  

    box-shadow: -6px 6px  rgba(0, 0, 0, 0.30);

    margin: 0;
    margin-top: 20px;
    position: relative;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)


}

#toDoBox {
    margin: 0 auto;
    list-style: none;
}

#guidelines {

    text-align: center;
    position: relative;
    left: 20px;
    

    height: 170px;
    width: 400px;
    padding: 10px;
    border: 10px black;
    background-color: gray;
    border: 5px solid #2A2C33;
    border-radius: 10px;
    box-shadow: -6px 6px  rgba(0, 0, 0, 0.30);
    cursor: default;
}


/* typical phones */

@media (max-width: 1200px), (max-height: 720px) {

    #todolist {
        width: 200px;
    }
    #guidelines {
        position: relative;
        left: auto; 

        display: block;
        margin-left: auto;
        margin-right: auto; 

        display: flex;
        justify-content: center;
        align-items: center;


        width: 300px;
        height: 240px;
        margin-bottom: 10px;
    }

    #inputBox {
        top: 50%;
        width: 300px;
        margin-top: 10px;
    }

    #addBtn {
        top: 57%;
        width: 300px;
        margin-top: 15px;
    }

    .to-dos {
        position: relative;
        top: 250px;
        width: 300px;
        /* margin-top: 10px; */
    }
}

/* fuckin' nokia */

/* @media only screen and (max-width: 400px), (max-height: 600px) {

    #inputBox {
        top: 65%;
    }

    #addBtn {
        top: 75%;
    }

    .to-dos {
        top: 190px;
        margin-top: 10px;
    }
} */

